<section id="contact">
    <h2>Contact me</h2>
    <p>
        I'm always interested in hearing about new teaching opportunities, writing curricula, or instructional design
        work.
    </p>
    <p><a href="mailto:alex@example.com">Email me</a></p>
</section>