<section id="intro">
    <p class="name">Hi, my name is <span>Alex.</span></p>
    <h2>I coding the web.</h2>
    <p>I’m a .NET software engineer with 4 years of experience in Web Development. I have 1 year of experience working
        on Microsoft Access and 3 years of .NET-related technologies.</p>
    <p>Currently, I am learning more Html/Css at <a href="https://frontendmasters.com/teachers/jen-kramer/"
            target="_blank">Frontend Masters</a>.</p>
</section>